# _This is my *learning*_

## This in my learning with data science course. I learned about various languages and machine learning.

### List of Data science languages
- Python
- Java
- Julia
- SQL
- R
- JavaScript

### List of Data Science Libraries
- NumPy
- Pandas
- Scikit-learn
- TensorFlow
- PyTorch

### Table for Data Science Tool

| Category | Tool | Description |
| ---------|-------|----------- |
| Programming Language | Python | use for data analysis; machine learning; scientific computing |
| Programming Language | R | Statistical Progrsamming Language; for data anylis; statistical modeling|
|IDEs and Notebooks| Jupyter Notebooks | Interactive computing environment allowing code, text and visualization in a single document|
|Database management | SQL (Structured Query Language) | Language for managing and querying rational database|

## Introduction with arthemetic expression such as addition and subtraction using code tool. it can be use for arthematic operations

In [25]:
#addition operation
5788909 + 666688

6455597

In [26]:
#multiplication operation
56778*6678

379163484

In [27]:
# Minute to an hour 
320 /60

5.333333333333333

In [28]:
0.33 * 60

19.8

In [29]:
# 5 hours 19 min

## List of objectives
1. to learn data science
2. to finish the course

## Author
### Tanya Bhagat